
.background {
    -fx-background-image: url("./main_menu_background.jpg");
    -fx-background-repeat: repeat;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.button .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.8), 0, 0.0 , 0 , -1 );
}

.button {
    -fx-background-color:#292929;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 10 20 10 20;
}

.button:focused, .button:hover {
    -fx-background-color:#313131;
}
